@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(11, 87, 1)
}

h1#principal{
    text-align: center;
    background-color: rgb(32, 63, 1);
    color: white;
}
h2{
    color:rgba(14, 198, 8, 0.868)
}

.basico{
    color: rgba(65, 183, 81, 0.8);
}
.intermediario{
    color: brown;
}

.avancado{
    color: rgb(0, 72, 255);
}

.destaque{
    color: rgb(210, 201, 189);
}